<%- include('partials/_header.ejs') %>


<div class="container container-fluid"> <!-- el contenido del div abarca el 100% de la pantalla -->
    <div class="row">
        <div class="col-md-12"> <!--Abarca las 12 columnas que maneja bootstrap-->
            <img class="bg-header" src="/img/bg-ingresos.jpg"/> <!--imagen de fondo-->
            <nav class="navbar navbar-toggler navbar-light bg-light"> <!--navbar con la información del usuario-->
                <span class="ml-auto p-2">Ingresos totales: $000.00 </span>
            </nav>
        </div>
    </div>
</div>
<h1>ingresos</h1>



<%- include('partials/_footer.ejs') %>