<%- include('partials/_header.ejs') %>


<div class="container container-fluid"> <!-- el contenido del div abarca el 100% de la pantalla -->
    <div class="row">
        <div class="col-md-12"> <!--Abarca las 12 columnas que maneja bootstrap-->
            <img class="bg-header" src="/img/bg-ingresos.jpg"/> <!--imagen de fondo-->
            <nav class="navbar navbar-toggler navbar-light bg-light"> <!--navbar con la información del usuario-->
                <span class="ml-auto p-2">Ingresos totales: $000.00 </span>
            </nav>
        </div>
    </div>

    <div>  <!--boton para añadir ingreso-->
        <form action="/addIngreso" method="POST">
            <div class="input-group btn-anadirIngreso">
                <input type="text" class="" name="cantidad" id="ingreso" placeholder="Digita el nuevo ingreso">
                <div class="input-goup-append">
                    <button type="submit" class="btn btn-success"><i class="fas fa-coins"></i></button>
                </div>
            </div>  
        </form> 
    </div>

    <div class="row grupo-cards"><!--div de las cards -->
        <div class="col">
            <div class="card card-ingreso"> <!--div de las card de ingresos -->
                <div class="card-body text-success">
                    <p>04/11/2020</p>
                    <p>Pago de nomina</p>
                    <h5>$4000.00</h5>
                </div>
            </div>
        </div>
    </div>
    

</div>




<%- include('partials/_footer.ejs') %>