<nav class="navbar fixed-bottom navbar-light bg-light">
    <a href="/ingresos" ><i class="fas fa-hand-holding-usd fa-2x"></i></a> <!--ingresos-->
    <a href="/" class="active"><i class="fas fa-home fa-2x"></i></a> <!--Home-->
    <a href="/egresos"><i class="fas fa-money-bill-wave fa-2x"></i></a> <!--Egresos-->
</nav>

</body>
</html>